<!DOCTYPE html>
<html>

<head>
   <% include ("./pages/head.ejs") %>


</head>

<body>
          <% include ("./pages/header.ejs") %>

          <ul>
            <%if(usrlst){%>
            <% usrlst.forEach(function(user){ %>
            <li><%=user.id %></li>  
            <li><%=user.fulname %></li>  
            <li><%=user.email %></li>  
            <li><%=user.isactive %></li>  

            
            <% }); %>
            <%}%>
          </ul>
</body>

</html>