<div id="footer">
    <div class="footspan"></div>
    <div class="formlogin">
        <form action="" method="post" class="form-inline">
            <div class="form-group">
                <input type="email" class="form-text text-muted" name="email" id="email" class="email">
                <!-- <input type="password" class="form-text text-muted" name="password" id="pass" class="pass"> -->
                <input type="submit" value="login" id="submit">
            </div>
        </form>

    </div>
</div>