<header class="mainheader">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 lefttxt">First Nodejs Project</span>

    </nav>
    <% for(var i=0; i<JSON.stringify(users).length; i++) {%>
              <% users.email %>
                <% } %>

</header>